# macos
.DS_Store

# jupyter
*.ipynb_checkpoints/
__pycache__/

# 
data/
figure/
figures/
logs/

# pytorch 
*.pt

# slurm 
*.out


# latex 
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.blg
*.bcf
*.run.xml
*.bbl
*-blx.bib

# external library 
knockoff/knockoff-filter
knockoff/deepknockoffs