# macos
.DS_Store

# jupyter
*.ipynb_checkpoints/
__pycache__/

# 
data/
figure/
figures/
logs/

# pytorch 
*.pt

# slurm 
*.out


# latex 
*.toc
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.blg
*.bcf
*.lbl
*.brf
*.run.xml
*.bbl
*-blx.bib
__latexindent_temp.tex

# data
*.pkl

# external library 
knockoff/external
registration/output
registration/output_*
registration/writeup2
